@{
     Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Index";
    
}

   <h3 class="titre">Accueil</h3>
   <p class="contenu">Ici c'est la page d'accueil avec les news du site, etc.</p>

  @*@section Menu {
     <ul>
                <li class="selectionne">@Html.ActionLink("Accueil", "Index")</li>
                <li>@Html.ActionLink("Modifier", "ModifierPersonne", "Personne")</li>
                <li>@Html.ActionLink("Créer", "CreerPersonne", "Personne")</li>
                <li>@Html.ActionLink("Supprimer", "SupprimerPersonne", "Personne")</li>
     </ul>
              }*@

